{% extends 'base1.html' %}
{% load static %}


{% block content %}
<div id="user-profile">
<h2>Profile for {{ request.user }}</h2>
  <ul>
    <li><img src="{{MEDIA_URL}}{{ request.user.profile.file }}" width="200px" height="200px"></li>
    <li>First name: {{ request.user.first_name }}</li>
    <li>Last name: {{ request.user.last_name }}</li>
    <li>Phone number: {{ request.user.profile.phone_number }}</li>
    <li>Country: {{ request.user.profile.country.name }} <img src="{{ request.user.profile.country.flag }}" alt="{{ request.user.profile.country }}"></li>
    <li>About: {{ request.user.profile.about }}</li>
    <li> Image: </li>
  </ul>
</div>



{% endblock %}
